services:
  - type: web
    name: resign-collection
    env: node
    buildCommand: npm install && npm run build
    startCommand: node server/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
    disk:
      name: database
      mountPath: /opt/render/project/src/server
      sizeGB: 1
